# Ignore Play! working directory #
/Ruber/bin/
/Ruber/db
/Ruber/.eclipse
/Ruber/logs/
/Ruber/modules
/Ruber/project/project
/Ruber/project/target
/Ruber/target
/Ruber/tmp/
/Ruber/test-result
/Ruber/server.pid
/Ruber/*.iml
/Ruber/*.eml
/Ruber/dist/
/Ruber/.cache
