@(driver: is.ru.honn.ruber.domain.Driver, product: is.ru.honn.ruber.domain.Product)

@main(title = driver.getFirstName()) {

	<h2>@driver.getFirstName() @driver.getLastName()</h2>

	<h3>Car: @product.getDescription()</h3>
	<img id="carImage" src="@product.getImage()" alt="Car">

	<button id="fadeButton">Add review</button>
	<div id="addReview" style="display: none">
		<input id="commentInput" type="text" value="comment">
		<input id="ratingInput" type="number" max="5" min="0" value="rating">
		<button id="submitReview">Submit</button>
	</div>
	<div id="reviews"></div>

	<script>
		$(document).ready(function() {
			function fill() {
				$("#reviews" ).empty();
				$.get("@routes.DriverController.getDriverReviews(driver.getId())",function(data, status) {
					data.forEach(function(review) {
						var innerDiv = $("<div class='reviewDiv'></div>");
						innerDiv.append("<p>" + review.comment + "</p>");
						innerDiv.append("<p>" + review.rating + "</p>");
						$("#reviews").append(innerDiv);
					});
				});
			}


			fill();

			$("#fadeButton" ).click(function() {
				$("#addReview" ).fadeToggle("slow");
			})

			$('#submitReview').click( function() {
				var review = '{"comment":"'+$("#commentInput" ).val()+'", "rating":"'+$("#ratingInput" ).val()+'"}';

				$.ajax({
					url: '@routes.DriverController.review(driver.getId())',
					type: 'post',
					contentType: "application/json",
					data: review,
					success: function(data) {
						console.log(data);
						$("#addReview" ).css("display", "none");
						fill();
					},
					error: function(data) {
						console.log(data);
					}
				});
			});


		});


	</script>

}
