@(trip: is.ru.honn.ruber.domain.Trip)

@main(title = "Trip") {

	<h2>Trip #@trip.getId()</h2>
	<p>@trip.getStatus()</p>
	<h3>Distance: @trip.getDistance() km</h3>
	<h4 class="startTime">Trip taken at: </h4>
	<h4 class="endTime">Trip ended at: </h4>
	<div id="tripTime" style="margin: 10px">
		<p>Duration of trip</p>
		<span class="hours"></span><span>:</span><span class="minutes"></span><span>:</span><span class="seconds"></span>
	</div>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=en"></script>
	<script>
		var timeStart = new Date(@trip.getStartTime()*1000);
		$(".startTime" ).append(timeStart);
		var endTime = new Date(@trip.getEndTime()*1000);
		$(".endTime" ).append(endTime);

		var totalTime = (endTime.getTime() - timeStart.getTime())/1000;
		var hours = Math.floor(totalTime / 3600);
		totalTime = totalTime - hours * 3600;
		var minutes = Math.floor(totalTime / 60);
		var seconds = totalTime - minutes * 60;
		if(hours < 10)
			$(".hours" ).append('0'+hours);
		else
			$(".hours" ).append(hours);
		if(minutes < 10)
			$(".minutes" ).append('0'+minutes);
		else
			$(".minutes" ).append(minutes);
		if(seconds < 10)
			$(".seconds" ).append('0'+seconds);
		else
			$(".seconds" ).append(seconds);


		function initialize() {
			/*var startPos = new google.maps.LatLng(@trip.getStartLat(),@trip.getStartLong());
			var endPos = new google.maps.LatLng(@trip.getEndLat(),@trip.getEndLong());*/
			var mapOptions = {
				zoom: 8,
				center: new google.maps.LatLng(@trip.getStartLat(),@trip.getStartLong())
			};
			var map = new google.maps.Map(document.getElementById('map-canvas'),
				mapOptions);

			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(@trip.getStartLat(),@trip.getStartLong()),
				map: map,
				title: 'Start'
			});
			var marker2 = new google.maps.Marker({
				position: new google.maps.LatLng(@trip.getEndLat(),@trip.getEndLong()),
				map: map,
				title: 'End'
			});
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<div id="maps" style="height:400px;width: 400px">
		<div id="map-canvas" style="margin:0;padding:0;height:100%"></div>
	</div>

}