@(trip: is.ru.honn.ruber.domain.Trip)

@main(title = "History") {

	<h2>Trip #@trip.getId()</h2>
	<p>@trip.getStatus()</p>
	<h3>Distance: @trip.getDistance()</h3>
	<h4 class="startTime">Trip taken at: </h4>
	<h4 class="endTime">Trip ended at: </h4>

	<button id="fadeButton">View map</button>
	<div id="maps" style="display: none">
		<p>Start of trip:</p>
		<div id="mapholderStart" class="mapContainer"></div>
		<p>End of trip:</p>
		<div id="mapholderEnd" class="mapContainer"></div>
	</div>

	<script>
		var timeStart = new Date(@trip.getRequestTime()*1000);
		$(".startTime" ).append(timeStart);
		var endTime = new Date(@trip.getEndTime()*1000);
		$(".endTime" ).append(endTime);

		var latlonStart = '@trip.getStartLat(),@trip.getStartLong()';
		var imgStart = "http://maps.googleapis.com/maps/api/staticmap?center="+latlonStart+"&markers="+latlonStart+"&zoom=13&size=400x300&sensor=true";

		var latlonEnd = '@trip.getEndLat(),@trip.getEndLong()';
		var imgEnd = "http://maps.googleapis.com/maps/api/staticmap?center="+latlonEnd+"&markers="+latlonEnd+"&zoom=13&size=400x300&sensor=true";


		document.getElementById("mapholderStart").innerHTML = "<img src='"+imgStart+"'>";
		document.getElementById("mapholderEnd").innerHTML = "<img src='"+imgEnd+"'>";

		$("#fadeButton" ).click(function() {
			$("#maps" ).fadeToggle("slow");
		})

	</script>
}